# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
.env
.venv

# VS Code
.vscode

# Assets and logs (будут монтироваться как volumes)
assets/*
log/*

# Другие файлы
*.md
Dockerfile
docker-compose.yml
.dockerignore